<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
	<link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap.css" rel="stylesheet">
	{{{_sections.head}}}
</head>
<body>
	{{{body}}}
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	{{{_sections.jquery}}}
</body>
</html>